name: Check Code Quality

on:
  pull_request:
    paths:
      - '**/*.py'

jobs:
  ruff:
    name: Run Ruff
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Run Ruff
        uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6 # v3.6.1

